# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6aa4580080b36d6460387ef5
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6aa4580080b36d6460387ef5
